<h1>Show User</h1>
</br>

<p>First Name: <%= @user.first_name %></p>

<p>Last Namer: <%= @user.last_name %></p>

<p>Email: <%= @user.email %></p>

<p>Company name: <%= @user.company_name %></p>

<p>Status: <%= @user.status %></p>

<p>Profile Image: <img src=<%= @user.profile_image_url %> height = "200" width = "200"> 

<p>Role: <%= @user.role %></p>